<div class="navbar-container">
  <nav class="navbar navbar-light">
      <h5 class="navbar-brand mb-0">Gestion des clients : <button class="btn btn-primary mb-3" (click)="ClientsList()">Voir la liste des clients</button></h5>
      <button class="btn btn-primary" (click)="logout()">Se déconnecter</button>
  </nav>
</div>

<div class="container text-center custom-container">
  <h2 class="mt-5">Bienvenue, Conseiller</h2>
  <button class="btn btn-primary mb-3" (click)="createClient()">Créer un nouveau client</button>
  <br>
</div>
