body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.custom-container {
    width: 90%;
    max-width: 600px;
    padding: 0;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.navbar-container {
    width: 100%;
    background-color: #003366;
    padding: 0;
    border-radius: 8px 8px 0 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #ffffff;
}

.navbar .navbar-brand {
    margin: 0;
    font-size: 20px;
    color: #ffffff;
}

.navbar .btn {
    font-size: 16px;
    font-weight: bold;
}


h2 {
    color: #003366;
    font-weight: bold;
    margin: 20px 0;
}

.btn-primary {
    background-color: #003366;
    border-color: #003366;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #00509e;
    border-color: #00509e;
}


.btn {
    margin-top: 20px;
    width: 80%;
    max-width: 300px;
}
