<div class="container">
  <h2>Bienvenue, Gérant</h2>
  <p>Voici la page dédiée aux gérants.</p>

  <button class="btn btn-primary mb-3" (click)="logout()">Se déconnecter</button>

  <h3>Comptes à Découvert</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Numéro de Compte</th>
        <th>Type de Compte</th>
        <th>Solde en Euros</th>
        <th>Date d'ouverture</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let accountDetails of comptesADecouvert">
        <td>{{ accountDetails.numeroDeCompte }}</td>
        <td>{{ accountDetails.typeCompte }}</td>
        <td>{{ accountDetails.solde }}</td>
        <td>{{accountDetails.dateOuverture}}</td>
      </tr>
    </tbody>
  </table>
</div>
