<div class="navbar-container">
    <nav class="navbar navbar-light">
        <h5 class="navbar-brand mb-0">Création de nouveau clients : </h5>
        <button class="btn btn-primary mb-3" (click)="conseiller()">Accueil</button>
        <button class="btn btn-primary mb-3" (click)="ClientsList()">Voir la liste des clients</button>
        

        <button class="btn btn-primary" (click)="logout()">Se déconnecter</button>
    </nav>
  </div>
  <br>
  <br>
        <h3 class="mb-3 text-center">Formulaire</h3>
        <form #mainForm="ngForm" (ngSubmit)="addClient()">
            <div class="form-group">
                <input type="text" [(ngModel)]="clientDetails.nom" name="nom" class="form-control" placeholder="Nom">
                <input type="text" [(ngModel)]="clientDetails.prenom" name="prenom" class="form-control" placeholder="Prénom">
                <input type="text" [(ngModel)]="clientDetails.adresse.ville" name="ville" class="form-control" placeholder="Ville">
                <input type="text" [(ngModel)]="clientDetails.adresse.codePostale" name="codePostale" class="form-control" placeholder="Code Postal">
                <input type="text" [(ngModel)]="clientDetails.adresse.telephone" name="telephone" class="form-control" placeholder="Téléphone">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Enregistrer</button>
            </div>
        </form>
  
<!-- Barre compte liste client et client --> 