<!--<div class="container custom-container-2">
    <div class="no-data text-center" *ngIf="accounts.length == 0">
        <p>Il n'y a pas encore de comptes !</p>
        <button class="btn btn-outline-primary" routerLink="/create-client">Ajouter client</button>
        </div>
    <div *ngIf="accounts.length !== 0">
        <h3 class="mb-3 text-center">Liste des Comptes</h3>
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                      <th scope="col">Numéro de compte</th>
                      <th scope="col">Solde</th>
                      <th scope="col">Type de compte</th>
                      <th scope="col">Date d'ouverture</th>
                      <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let a of accounts" [ngClass]="{'text-danger': a.infos.solde < 0}">
                      <td>{{a.infos.numeroDeCompte}}</td>
                      <td>{{a.infos.solde}}</td>
                      <td>{{a.typeCompte}}</td>
                      <td>{{a.infos.dateOuverture | date:'dd/MM/yyyy'}}</td>
                      <td>
                          <button class="btn btn-info mr-1" routerLink="/compte-show/{{a.id}}">Afficher</button>
                      </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
 Détail des comptes clients -->
 <div class="navbar-container">
  <nav class="navbar navbar-light">
      <h5 class="navbar-brand mb-0">Liste Des Clients : </h5>
      <button class="btn btn-primary mb-3" (click)="conseiller()">Accueil</button>
      <button class="btn btn-primary mb-3" (click)="ClientsList()">Voir la liste des clients</button>
      <button class="btn btn-primary" (click)="logout()">Se déconnecter</button>
  </nav>
</div>

 <!-- TO DO à CODER AFFICHER LA LISTE DES COMPTES D'UN CLIENT-->


<div class="container custom-container-2">
    <div class="no-data text-center" *ngIf="client.length == 0">
      <p>Liste Des Compte d'un Client !</p>
      
    </div>
    <div *ngIf="client.length !== 0">
      <h3 class="mb-3 text-center">Les comptes clients</h3>
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Prenom</th>
              <th scope="col">Type de compte</th>
              <th scope="col">Solde</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of client">
              <td>{{c.nom}}</td>
              <td>{{c.prenom}}</td>
              <td [ngClass]="{'text-danger': c.solde < 0}">{{c.solde}}</td>
              <td>
                <button class="btn btn-info mr-1" routerLink="/compte-list/{{c.id}}">Afficher</button>
                <button class="btn btn-danger" (click)="deleteClient(c.id)">Supprimer</button>
                <a href="#" class="btn btn-primary" routerLink="/compte-client/{{c.id}}">Détail du compte</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  